@model CoMan.Models.CooperationModel

@{
    ViewData["Title"] = "End cooperation";
}

<h1>End</h1>

<h4>End cooperation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="End">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Mark" class="control-label"></label>
                <input asp-for="Mark" class="form-control" />
                <span asp-validation-for="Mark" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="topic" class="control-label">Topic</label>
                <input type="text" id="topic" value="@ViewBag.TopicTitle" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label for="student" class="control-label">Student</label>
                <input type="text" id="student" value="@ViewBag.StudentEmail" class="form-control" readonly />
            </div>
            <div class="form-group">
                <input type="submit" value="End" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
