@model CoMan.Models.CooperationRequestModel

@{
    ViewData["Title"] = "Create cooperation request";
}

<h1>Apply</h1>

<h4>Send cooperation request</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ApplicantComment" class="control-label"></label>
                <textarea asp-for="ApplicantComment" class="form-control"></textarea>
                <span asp-validation-for="ApplicantComment" class="text-danger"></span>
            </div>
            <input type="number" name="topicId" value="@ViewBag.TopicId" hidden />
            <input type="text" name="teacherId" value="@ViewBag.TeacherId" hidden />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-controller="Topic" >Back to list</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
