@model CoMan.Models.CooperationRequestModel

@{
    ViewData["Title"] = "Reject cooperation request";
}

<h1>Reject</h1>

<h4>Reject cooperation request</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Reject">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="text" name="action" value="Reject" hidden />
            <div class="form-group">
                <label asp-for="TeacherComment" class="control-label"></label>
                <textarea asp-for="TeacherComment" class="form-control"></textarea>
                <span asp-validation-for="TeacherComment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Reject" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
