@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h5>
        Cooperation Manager is simple CRM to manage individual cooperation with teachers.
    </h5>
    <p>
        It is my answer to the course "Individual project" in the 2nd year of CS studies.
    </p>
    <p>
        The main goal of the project is to learn basics of creating web applications using ASP.NET Core MVC with Razor, Entity Framework and Bootstrap.
    </p>
</div>
